<script>
$(document).ready(function(){
	$("#aoe_button").click(function(){
			$("#new_aoe_post").slideToggle();
	});
	$("#send_aoe_post").click(function(){
			$("#new_aoe_post").slideUp();
	});
});
</script>

<input type="button" value="Bài mới" class="btn pretty warning medium" id="aoe_button"/>
<div id='new_aoe_post'>
<br/>
<br/>
<br/>
<h2>[AOE]Tạo chủ đề mới.</h2>
	<%= form_for @aoe_new_post,:html => { :multipart => true }, url: entertainments_path ,method: :post do |f|%>
		<table>
			<tr>
				<td>Tiêu đề</td> 
				<td><%=f.text_field :title%></td>
			</tr>
			<tr>
				<td>Nội dung</td>
				<td><%=f.text_area :content%></td>
			</tr>
		</table>
		<label for="up">Select picture(jpge,png)</label>
    <%= file_field 'upload', 'datafile' %>
	<input type="hidden" name="id" value="aoe"/>
	<div class="clear"></div>
	<%= f.submit "Gửi chủ đề", class: "btn medium success pretty",id: "send_aoe_post" %>	
	<%end%>
</div>

<hr/>
<table width="100%">
	<tr aligin="center" bgcolor="#FFD6C0">
		<td width="5%">STT</td>
		<td width="10%"></td>
		<td>Tiêu đề</td>
		<td>Nội dung</td>
	</tr>
	<% c=0%>
	<% @aoes.each do |a|%>
	<%c=c+1%>
		<tr aligin="center">
			<td><%= c%></td>
			<td><img src="/img/market/<%=a.picture%>" width="50" height="40"/></td>
			<td><%= a.title%></td>
			<td><a href="<%= entertainment_path(a.id)%>"><%= a.content%></a></td>
		</tr>
	<%end%>
</table>