<script>
$(document).ready(function(){
	$("#other_button").click(function(){
			$("#new_other_post").slideToggle();
	});
	$("#send_other_post").click(function(){
			$("#new_other_post").slideUp();
	});
});
</script>
<br/>
<a href="<%=root_path%>">Trang chủ</a> &nbsp;>>&nbsp;<a href="<%=entertainments_path%>">Giải trí</a>
<br/>

<input type="button" value="Bài mới" class="btn pretty warning medium" id="other_button"/>
<div id='new_other_post'>
	<br/>
	<h2 style="color:red">[Game #]Tạo chủ đề mới.</h2>
		<%= form_for @other_new_post, url: entertainments_path ,method: :post do |f|%>
			<table>
				<tr>
					<td>Tiêu đề</td> 
					<td><%=f.text_field :title%></td>
				</tr>
				<tr>
					<td>Nội dung</td>
					<td><%=f.text_area :content%></td>
				</tr>
			</table>
		<input type="hidden" name="id" value="other"/>
		<%= f.submit "Gửi chủ đề", class: "btn medium success pretty",id: "send_other_post" %>	
	<%end%>
</div>

<!-- end new post -->
<hr/>
<table width="100%">
	<tr align="center" bgcolor="##15A88" height="30" cellpadding="1" >
		<th width="5%"></th>
		<th width="65%"><font color="white" FACE="Geneva, Arial" size="2">Thread / Thread Starter</font></th>
			<th width="5%"><font color="white" FACE="Geneva, Arial" size="2">Comment</font></th>
			<th width="5%"><font color="white" FACE="Geneva, Arial" size="2">Viewed</font></th>
			<th width="20%" align='center'><font color="white" FACE="Geneva, Arial" size="2">Last Post</font></th>
		</tr>
	<% @others.each do |o|%>
		<tr  height="60" bgcolor="#F5F5FF">
			<td><img  src="/img/thread.gif"/></td>
			<td >Topic: <span style="font-weight: bold; "><a href="<%= entertainment_path(o.id)%>"><%= o.title%></a></span>
			<br/>
			<font size="2"> Đã gửi bởi</font> <font size="2" color="red"><%=o.user_post%></font> <font size="2">vào lúc <%=o.created_at.strftime("%I:%M%p-%d/%m/%Y")%></font>
			</td>

			<td align="center"><%= Entertainmentpost.find_by_sql("Select * from entertainmentposts where entertainment_id=#{o.id}").count%></td>
			<td align="center"><%= o.viewed %></td>
			<% last_post_info = Entertainmentpost.find_by_sql("Select * from entertainmentposts where entertainment_id=#{o.id} order by created_at desc limit 1")%>
			<td bgcolor="#E1E4F2" align='center'>
					<% if last_post_info!=[] %>
						<font size='1'>bài cuối bởi</font> <span style="color: red; font-weight: bold;"><%= User.find(last_post_info[0].user_id).name%></span>
							<br/>
						<font size="1"><%= last_post_info[0].created_at.strftime("%R:%M:%S %d-%m")%></font>
					<%end%>
			</td>
		</tr>
	<%end%>
</table>