<!-- Load jQuery build -->
<script>
	$( document ).ready(function(){
		$("#quote").click(function(){
			// document.getElementById("mce_80").val("aaaaaaaaa");
			 // document.getElementById("report_catalog_id").value;
		});
	});
</script>
<a href="<%=root_path%>">Home>> &nbsp;&nbsp;</a><a href="<%=entertainments_path%>">Entertainment</a>&nbsp;>>&nbsp;<a href="/entertainments/<%= @entertainment.catalog%>"><%=@entertainment.catalog%></a>
<br/>
<br/>
<%count=0%>
<table width="100%" border="0" cellpadding="1" cellspacing="0">
	<tr bgcolor="#425989" height="30">
		<td widht="60%">
			<table widht="100%">
				<tr>
					<td widht="30%"><img src="/img/post-icon.gif" id="thread"/></td>
					<td><font color="white" size="2">sent at: <%= @entertainment.created_at.strftime('%I:%M%p-%d/%m/%Y')%></font></td>
				</tr>
			</table>
		</td>
		<td align="right"><font color="white">#<%= count%></font></td>
	</tr>	

	<%id_user = User.where('name=?',@entertainment.user_post)[0].id%>
	<tr  bgcolor="#E1E4F2" height="80">
		<td widht="80%">
			<table width="20%">
				<tr>
					<td width="5%" align="left"><img src="<%= User.where('name=?',@entertainment.user_post)[0].avatar_path %>" widht="60" height="60" class="show_picture_post"></td>
					<td><font color="#748EBB" size="5" ><a href="<%=user_path(id_user) %>"><%= @entertainment.user_post%></a></font></td>
				</tr>
			</table>
		</td>
		<td width="20%">
			<font color="black" size="2">Birthday: <%= User.where('name=?',@entertainment.user_post)[0].birth_day%></font>
			<br/>
			<font color="black" size="2">Address: <%= User.where('name=?',@entertainment.user_post)[0].address%></font>
			<br/>
			<font color="black" size="2">Article: </font>
		
		</td>
	</tr>

</table>
<table bgcolor="#F5F5FF" cellpadding="20" cellspacing="2" id="table-post" width="100%">
	<tr>
		<td align="left"><font style=" font-weigth: bold" size="3" color="red" ><%= @entertainment.title%></font>
<!-- 		<hr size="1" style="color:#FFFFFF; background-color:#FFFFFF"> -->
	</td>
	</tr>	

	<tr >		
		<td><html><%= @entertainment.content.html_safe %></html></td>
	</tr>
	<tr>
		<td width="80%">
		</td>
		<td width="20%"><img src="/img/quote.gif" id="quote"></td>
</table>
<div class="clear"></div>
<br/>

<!--  -->
<!--  will_paginate -->
 	<% if @entertainment.entertainmentposts.any? %>
      <h3>(<span style="color: red; font-weight: bold;"><%= @entertainment.entertainmentposts.count %></span>) Comment</h3>
        <% @comment = @entertainment.entertainmentposts.all %>
      <% @comment.each do |c|%>
      	<% count= count + 1%>
      	<table width="100%" border="0" cellpadding="1" cellspacing="0">
						<tr bgcolor="#425989" height="30">
								<td widht="60%" align="left">
									<table width="100%">
										<tr>
											<td width="5%" aligin="left"><img src="/img/post-icon.gif" id="thread"/></td>
											<td width="95%"><font color="white" size="2">sent at:<%= c.created_at.strftime('%I:%M%p-%d/%m/%Y')%></font></td>
										</tr>
									</table>
								</td>
								<td align="right"><font color="white">#<%= count%></font></td>
						</tr>	

						<tr  bgcolor="#E1E4F2" height="80">
							<td widht="80%">
								<table width="20%">
									<tr>
										<td width="5%" align="left"><img src="<%= User.find(c.user_id).avatar_path %>" widht="80" height="60" class="show_picture_post"></td>
										<td><font color="#748EBB" size="5" ><a href="<%=user_path(c.user_id) %>"><%= User.find(c.user_id).name%></a></font></td>
									</tr>
								</table>
							</td>

							<td width="20%">
								<font color="black" size="2">Birthday: <%= User.find(c.user_id).birth_day%>
								</font>
								<br/>
								<font color="black" size="2">Address: <%= User.find(c.user_id).address%></font>
								<br/>
								<font color="black" size="2">Article: </font>

							</td>
						</tr>
				</table>

				<table bgcolor="#F5F5FF" cellpadding="20" cellspacing="2" id="table-post" width="100%">
					<tr>
						<td align="left"><font style=" font-weigth: bold" size="5" color="#455D8B" >Title here</font></td>
					</tr>
					<tr>
						<td>
							<%= c.content.html_safe %>
						</td>
					</tr>
				</table>
			<div class="clear"></div>
			<br/>
			<br/>
		<%end%>
  <%else%>
      <h3>0 Comment</h3>
  <% end %>
<!--  -->
<span style="font-weight: bold; color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trả lời nhanh:</span>(<b>HTML <font color="blue">on</font></b>)
<%= form_for :entertainments, url: comment_entertainments_path, method: :post do|f| %>
  <center><textarea id = "new-content-post1" rows="10" cols="70" name="content" class=""></textarea></center>
  <input type="hidden" name ="id" value = "<%=@entertainment.id %>" />
  <div class="clear"></div>
  <%= f.submit "Gửi trả lời" ,class: " btn medium pretty success"%>
<%end%>

<script type="text/javascript">
	$(function(){
		document.getElementById('new-content-post1').focus();
	});
</script>

<p id="aaaa"></p>