	<h1> Mobile </h1><br/><br/>
	<div class="medium primary btn"><%= link_to 'New Topic', topic_dienthoai_dienthoais_path %> </div> <br/></br>
	<hr>
	<% @quac = 1 %>
	<table cellspacing="10" width="700">
		<tr>
			<td bgcolor="#8CA73C" color="white" width="170" height="115"><font size="3" color="white">Android</font><br/><a href="<%= diendan_dienthoais_path({id: "5"})%>" ><img src="/img/android.png" border='0'/></a></td>
			<td width="170" bgcolor="#7D7E7E"></a><font size="3" color="white">ios</font> <a href="<%= diendan_dienthoais_path({id: "6"})%>"><img src="/img/ios.png" border='0'/></a></td>
			<td width="170" bgcolor="#333333"></a><font size="3" color="white">Blackberry</font> <a href="<%= diendan_dienthoais_path({id: "7"})%>"><img src="/img/blackberry.png" border='0'/></a></td>
			<td width="170" bgcolor="#333333"></a><font size="3" color="white">Meego</font> <a href="<%= diendan_dienthoais_path({id: "8"})%>"><img src="/img/Meego.png" border='0'/></a></td>
		</tr>
		<tr>
			<td bgcolor="#0A6899"></a><font size="3" color="white">Nokia</font> <a href="<%= diendan_dienthoais_path({id: "9"})%>"><img src="/img/nokia.png" border='0'/></a></td>
			<td bgcolor="##54ADB5"><font size="3" color="white">Samsung</font><br/> <a href="<%= diendan_dienthoais_path({id: "10"})%>" ><img src="/img/samsung.png" border='0'   /></a></td>
			<td bgcolor="#095C87"><font size="3" color="white">Orther</font><br/> <a href="<%= diendan_dienthoais_path({id: "11"})%>" ><img src="/img/orther.png" border='0'   /></a></td>
			<td bgcolor="#393041"><font size="3" color="white">Developer</font><br/> <a href="<%= diendan_dienthoais_path({id: "12"})%>" ><img src="/img/code.png" border='0'   /></a></td>
		</tr>
	</table> 
<hr>



