<script>
  	$(document).ready(function(){
		$('#avatar').click(function(){
				$("#update-avatar").slideToggle();
			});
		});
  </script>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Infomation member</h2>
<table width='60%'>
	<tr>
		<td>Name</td>
		<td><%= @user.name%></td>
	</tr>
	<tr>
		<td>Birth day</td>
		<td><%= @user.birth_day%></td>
	</tr>
		
	<tr>
		<td>Address</td>
		<td><%= @user.address%></td>
	</tr>

	<tr>
		<td>Email</td>
		<td><%= @user.email%></td>
	</tr>

	<tr>
	<tr>
		<td>Article</td>
		<td></td>
	</tr>
	<tr>
		<td>Favorite</td>
		<td><%= @user.sothich%></td>
	</tr>

	<tr>
		<td>Say favorite</td>
		<td><%= @user.caunoiuathich%></td>
	</tr>
	
	<tr height="60">
		<td widht="10%">Avatar (<a id="avatar" href="#"> edit</a>)</td>
		<td widht="90%" align="left"><img src="<%=@user.avatar_path %>"  widht="60" height="60" class="img_avatar_user"/></td>
	</tr>
</table>

<div id='update-avatar'>
	<%= form_for @user, :html => { :multipart => true } do |f| %>
  <label for="up"></label>
    <%= file_field 'upload', 'datafile' %>
  <div class="clr"></div>
  <div class="actions">
    <%=f.submit "Change avatar", class: "medium warning btn pretty" %>
  </div>
<% end %>
</div>
<%= link_to 'Update my profile',edit_user_path(current_user.id)%>