<script>
$(document).ready(function(){
	$('#new-event').click(function(){
		$("#content1").slideToggle();
		$("#content2").slideUp();
		$("#content3").slideUp();
		$("#content4").slideUp();
	});
	$('#week-event').click(function(){
		$("#content2").slideToggle();
		$("#content1").slideUp();
		$("#content3").slideUp();
		$("#content4").slideUp();
	});
	$('#month-event').click(function(){
		$('#content3').slideToggle();
		$("#content1").slideUp();
		$("#content2").slideUp();
		$("#content4").slideUp();
	});


	$('#all-event').click(function(){
		$('#content4').slideToggle();
		$("#content1").slideUp();
		$("#content2").slideUp();
		$("#content3").slideUp();
	});	
});
</script>

<table width="100%" cellpadding="10">
	<tr >
		<td width="25%"><img src="/img/event.jpeg" width="50" height="50" class="event"/><div id="new-event"><%= link_to 'create Event','#' %></div></td>
		<td width="25%"><img src="/img/event.jpeg" width="50" height="50" class="event"/><div id="week-event"><%= link_to 'week Event ','#'%></div></td>
		<td width="25%"><img src="/img/event.jpeg" width="50" height="50" class="event"/><div id="month-event"><%= link_to 'month Event','#'%></div></td>
		<td width="25%"><img src="/img/event.jpeg" width="50" height="50" class="event"/><div id="all-event"><%= link_to 'view All','#'%></div></td>
	</tr>
</table>
			<div id="content1">
				<%= form_for @event_new ,url: events_path, method: :post do |f| %>
					<table width="100%">
						<tr>
							<td>Name event</td>
							<td><%= f.text_field :name %></td>
						</tr>

						<tr>
							<td>Address event</td>
							<td><%= f.text_field :address %></td>
						</tr>
						<tr>
							<td>[O]Time start</td>
							<td><%= f.text_field :time_start %></td>
						</tr>

						<tr>
							<td>[P]Time close</td>
							<td><%= f.text_field :time_end %></td>
						</tr>
					</table>
					<%= f.submit "Save Event", class: "btn medium success pretty" %><br/>	
				<%end%>
			</div>


			<div id="content2">
				
			</div>

			<div id="content3">
				
			</div>
			
			<div id="content4">
				<h2>all Events </h2><br/>
				<table width="100%">
					<tr align="center" bgcolor="##15A88" height="30" cellpadding="1" >
						<th width="5%"></th>
						<th width="60%"><font color="white" FACE="Geneva, Arial" size="2">Thread / Thread Starter</font></th>
						<th width="20%"><font color="white" FACE="Geneva, Arial" size="2">Last Post</font></th>
					</tr>
					<% @all_events.each do |e|%>
						<tr align="center" height="50">
							<td><img  src="/img/thread.gif"/></td>
							<td><%= e.name%></td>
							<td><%= e.created_at.strftime("%d-%m-%Y")%></td>
						</tr>
					<%end%>
					<hr/>
				</table>
			</div>
