 <%$count = $count +1%>
    <% c= homecomment%>
        <div id="user_post_home">
            <div class="info_user_home">
              <img src="<%=User.find(c.user_id).avatar_path%>" width="100" height="100"/>
              <div class="clear"></div>
                <div class="info1">
                    <center><span style="color: #175F93; font-weight: bold; font-size: 16px;"><a href="<%=user_path(c.user_id)%>"><%= User.find(c.user_id).name%></a></span></center>
                    <center><span style="font-size: 14px; color:red; font-weight: true;">Member</span></center>
                    <span style="font-size: 10px;">article: </span>
                    <p style="font-size: 10px;">Join day:  </p>
                </div>
            </div>
            <div class="content_user_home">
                <%=c.content.html_safe%>
            </div>
            <div class="clear"></div>
            <div class="time_post">
                <div class="ti"><span style= "color:#808080">send at <%= c.created_at.strftime("%H:%M %d/%m")%></span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%if signed_in? && ((c.user_id == current_user.id) || current_user.id==1)%>
                     <%= link_to "delete", homecomment, method: :delete,
                                     data: { confirm: "Are you sure. Delete it?" }%>
                    <%end%>

                </div>
                <div class="count-post"><span style= "color:#808080">#<%=$count%></span></div>
            </div>
                   
        </div>  
     <div class="clear"></div>
     <hr color="#F1F1EC"/>