<style type="text/css">
ul#inlineBlock{
    list-style: none inside;
    margin-top: 5px;
    margin-left: 10px;
}
ul#inlineBlock li{
    background-color: #65A6D1;
    -webkit-box-shadow: 2px 2px 0 #00A388;
    box-shadow: 2px 2px 0 #00A388;          
    padding: 5px 10px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 0px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}
ul#inlineBlock li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
</style>
<ul id="inlineBlock">
    <li><a href="<%= new_home_path%>">new Post</a></li>
    <li><a href="#">Contact</a></li>        
</ul>
<div class="clear"></div>
<br/>

 <% @home_posts.each do |h| %>
    <div class="home_post">
        <table width="100%" class="tbl_post" >
            <tr height="90" bgcolor="#F1F1EC">
                <td width="100%" align="left" valign="middle"><a href="<%= home_path(h.id)%>"><span style="font-size: 27px; color: black; font-weight: bold;"><%=h.title%></span></a></td>
            </tr>

            <tr >
                <td width="100%" align="left">
                    by <a href="<%= user_path(h.user_id)%>"><font face="verdana" size="4" color="#1769B4" style="font-weight: bold;"><%=User.find(h.user_id).name%></font>
                    </a> at <a><%=h.created_at.strftime("%d-%m")%></a> &nbsp; <a><%=h.created_at.strftime("%H:%M")%></a>.
                    <%if signed_in? && current_user.id==1%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
                         <font size="2" ><%= link_to "del", h, method: :delete,
                                     data: { confirm: "Are you sure Delete it?" }%>
                         </font>)
                        &nbsp;&nbsp;&nbsp;&nbsp;(
                         <font size="2" ><%= link_to "edit", edit_home_path(h.id) %>
                         </font>)
                    <%end%>
                <hr color="#F1F1EC"/>
                </td>
            </tr>
            
            <tr >
                <td>
                    <div class="content-html"><%=h.content.first(800).html_safe%>...</div>
                    <hr color="#F1F1EC"/>
                </td>
            </tr>
            <tr >
                <td>
                    <span style="color:#808080">Viewed: <%=h.viewed%></span>&nbsp;&nbsp;&nbsp;
                    <span style= "color:#808080">Comment: <%=h.comment%></span>
                </td>
            </tr>
        </table>
    </div>
  <% end %>