<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
        $(function(){
            $(document).tooltip();
        })

        // $(document).ready(function(){
        // $('#edit-post').click(function(){
        //         $("#action2").slideToggle();
        //     });
        // });
</script>


    <div class="home_post">
        <table width="100%" class="tbl_post" >
            <tr height="90" bgcolor="#F1F1EC">
                <td width="100%" align="left" valign="middle"><a href="<%= home_path(@home.id)%>"><span style="font-size: 27px; color: black; font-weight: bold;"><%=@home.title%></span></a></td>
            </tr>

            <tr >
                <td width="100%" align="left">
                    <span style="color:#808080">&nbsp;&nbsp; last edited at <%=@home.updated_at.strftime("%H:%M date %d/%m/%Y")%>&nbsp;&nbsp;&nbsp;by...</span><br/> 
                    create by <a href="<%= user_path(@home.user_id)%>"><font face="verdana" size="4" color="#1769B4"><%=User.find(@home.user_id).name%></font>
                    </a> at <a><%=@home.created_at.strftime("%d-%m")%></a> date <a><%=@home.created_at.strftime("%H:%M")%></a>.
                <hr color="#F1F1EC"/>
                </td>
            </tr>
            
            <tr >
                <td><div class="content-html"><%=@home.content.html_safe%></div></td>
            </tr>
            <tr height='30px'>
                <td><div class="fb-like" data-href="http://localhost:3000/homes/<%=@home.id%>" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div></td>
            </tr>
            <tr >
                <td>
                    <span style="color:#808080">Viewed: <%=@home.viewed%></span>&nbsp;&nbsp;&nbsp;
                    <span style= "color:#808080">Commented: <%=@home.comment%></span>
                </td>
            </tr>
        </table>
    </div>
<!--  end main post -->
<!-- show comment post -->
<% if @home.homecomments.any? %>
    <br/>
    <%$count = 0%>
        <%= render @homecomments%>
      <div class="user-posts2">
        <%= will_paginate @homecomments %>
      </div>
      
<%else%>
    <p style="color:#808080;" >Hiện chưa có comment nào .Hãy là người đầu tiên</p>  
<%end%>

<%if !signed_in?%>
    <p style="color:#808080;" >You not login. Let <a href="<%=new_session_path%>">SignIn</a> to be discussed</p>
<%else%>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <span style="font-weight: bold; color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quick report</span>(<b>HTML <font color="blue">on</font></b>)
    <%= form_for :homes, url: comment_homes_path, method: :post do|f| %>
        <center><textarea id = "new-content-post1" rows="10" cols="70" name="content" class=""></textarea></center>
         <input type="hidden" name ="id" value = "<%=@home.id %>" />
        <div class="clear"></div>
         <%= f.submit "Send Article" ,class: " btn medium pretty success"%>
    <%end%>
<%end%>
