<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-send="true" data-width="360" data-show-faces="true" data-font="arial"></div>

<div class="clear"></div>
<div id="title-statistic">Statistics</div>
<div id="statistic">
	Today: <span style="font-weight: bold; color: red;"> <%= Time.now.strftime('%d')%> - <%= Time.now.strftime('%m')%> - <%= Time.now.strftime('%Y')%></span><br/>
	Members: <span style="font-weight: bold; color: blue;"> <%= User.all.count%></span><br/>
	Topics :<span style="font-weight: bold; color: blue;"> <%= Entertainment.all.count%></span><br/>
	<%total_post=Entertainmentpost.all.count%>
	Articles: <span style="font-weight: bold; color: blue;"> <%= total_post%></span><br/>
	New Member:<a href="<%=user_path(User.first.id)%>"><span style="font-weight: bold; color: red;"><%=User.first.name%></span></a><br/>
</div>

<div id="title-event">Events</div>
<div id="event">
	Birthday :<br/>
	In the old days:<br/>
	Week event :<br/>
</div>

<div id="title-img">Random User</div>
<%user = User.find(rand(1..(User.all.count)) )%>
<div id="img-member">
	<div id="avatar-member">
		<img src="<%=user.avatar_path%>" alt="framgia" width="100" height="100"/>
	</div>
	<div id="info-member">
		Name: <span style="color: red; font-weight: bold;"><a href="<%= user_path(user.id)%>"><%= user.name%></a></span><br/>
		Address: <span style="color: red; "><%= user.address%></span><br/>
		BirthDay: <span style="color: blue; "><%= user.birth_day.strftime("%d/%m/%Y")%></span><br/>
		Join Day: <br/>
		
	</div>
	<div class="clear"></div>
	Favorite: <span style="color: red; "><%= user.sothich%></span><br/>
	Favorite sayings: <span style="color: red; "><%= user.caunoiuathich%></span><br/>
</div>

