<div id="statistic">
	Hôm nay là : <span style="font-weight: bold; color: red;"> <%= Time.now.strftime('%d')%> - <%= Time.now.strftime('%m')%> - <%= Time.now.strftime('%Y')%></span><br/>
	Tổng số thành viên: <span style="font-weight: bold; color: blue;"> <%= User.all.count%></span><br/>
	Tổng số bài viết: <span style="font-weight: bold; color: blue;"> <%= Post.all.count %></span><br/>
	Thành Viên mới nhất:<span style="font-weight: bold; color: red;"> Không có</span><br/>
</div>
<div id="event">
Event
</div>