<script>
$(document).ready(function(){
	$('.topic').click(function(){
			$('.topics').slideToggle();
	});

	$('.post').click(function(){
			$('.posts').slideToggle();
	});
	$('.faq').click(function(){
			$('.faqs').slideToggle();
	});
});
</script>
<div id="wrapper-slide-bar">
	<div id="slide-bar1">
		<p id="img-logo"><img src="/img/logo.png"  wight="150" height="150" /></p>
		<div class="clear"></div>
		<h2><center>F-Forums</center></h2>
	</div>

		<div id="slide-bar2">
			<%= link_to 'Home Page','#'%><br/>
			<hr/>
			<p class ="topic"><%= link_to 'Topic release','#'%></p>
				<ul class = "topics">
					<li><%= link_to 'Work and life','#'%></li>
					<li><%= link_to 'Chém gió & Gái gú','#'%></li>
					<li><%= link_to 'Ruby on Rails-Php','#'%></li>
					<li><%= link_to 'Javascript-Html-Css','#'%></li>
					<li><%= link_to 'Other Topics','#'%></li>
				</ul>
				<hr/>
			<p class='post'><%= link_to 'Articles','#'%></p>
				<ul class='posts'>
					<li><%= link_to 'all Articles','#'%></li><br/>
					<li><%= link_to 'new Articles','#'%></li>	<br/>
					<li><%= link_to 'random Articles','#'%></li><br/>
					<li><%= link_to 'hot Articles','#'%></li><br/>
				</ul>
			<hr/>
			
			<p class='faq'><%= link_to 'Helper','#'%></p>
				<ul class='faqs'>
					<li><%= link_to 'Term','#'%></li>	<br/>
					<li><%= link_to 'VietNam Input','#'%></li><br/>
					<li><%= link_to 'Contact','#'%></li>
				</ul>
			<hr/>
			<%= link_to 'Donations or Support','#'%>
	</div>
</div>