<div id="wrapper-slide-bar">
	<div id="slide-bar1">
		<img src="/img/logo.png" gumby-retina wight="150" height="150"/>
		<div class="clear"></div>
		<h2><center>F-Wiki</center></h2>
	</div>

		<div id="slide-bar2">
			<%= link_to 'Trang Chính','#'%><br/>
			<%= link_to 'Chủ đề liên quan','#'%>
		<ul>
			<li>aaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaaaaa</li>
		</ul>
	</div>

		<div id="slide-bar2">
		<ul>
			<li><%= link_to 'aaaa','#'%>aaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaaaa</li>
			<li><%= link_to 'aaaa','#'%>aaaaaaaaaaaaaa</li>
		</ul>
	</div>
</div>