<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="sstyle.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div id="wrapper">
		<div id="slide-bar">
			<%= render 'layouts/slide-bar'%>
		</div>

		<div id="page">
			<div id="header">
				<div id="header-top">
					<ul>
						<% if !signed_in?%>
							<li><%= link_to 'Đăng nhập',new_session_path%></li>
							<%else%>
							<li><%= link_to 'Thoát',signout_path, method: "delete" %></li>
							
						<%end%>
						<img src="/img/people.gif" icon height="50" wight="50"/>
						<% if !signed_in?%>
							<li><%= link_to 'Mở tài khoản',new_user_path%></li>
						<%else%>
							<li>xin chào (<span style="font-weight: bold; color: red;"><%= current_user.name %></span>)</li>
						<% end %>
					</ul>
				</div>
				<div class="clear"></div>
				<div id='header-bottom'>
					<div id="hd-left">
						<ul>
							<li><%= link_to 'Trang chính',root_path%></li>
							<li><%= link_to 'Thông báo','#'%></li>
							<li><%= link_to 'Bài mới',new_post_path%></li>
						</ul>
					</div>
					<div id="hd-right">
						<ul>
							<li><%= link_to 'Thành viên','#'%></li>
							<li><%= link_to 'Sự kiện',events_path%></li>
							<li><%= link_to 'Liên kết','#'%></li>
<<<<<<< HEAD
							<li><%= link_to 'Việc làm','#'%></li>
							<li><%= link_to 'Rao vặt',markets_path%></li>
							<li><%= link_to 'Trang cá nhân','#'%></li>
=======
							<li><%= link_to 'Giải trí',entertainments_path%></li>
							<li><%= link_to 'Rao vặt','#'%></li>
							<% if signed_in?%>
							<li><%= link_to 'Trang cá nhân',user_path(current_user)%></li>
							<%end%>
>>>>>>> 12db23413bc4a98c1745f99194fa71542f3ca445
						</ul>
					</div>
				</div>	
			</div> <!--end of header -->
			<div class="clear"></div>
			<div id="primary">
				<div id="content">
					<div id="content-page">
					<%= yield %>	
					</div>
					<div id="content-right" >
					 		<%= render 'layouts/content-right'%>
					</div>
				</div>
			</div> <!--end of primary -->
		</div><!-- end of wrapper-->
	</div>
		<div class="clear"></div>
			<div id="footer">
				<%= render 'layouts/footer'%>
			</div> <!--end of footer -->
<<<<<<< HEAD
<%= debug(params) if Rails.env.development? %>
=======
			<%= debug(params) if Rails.env.development? %>
>>>>>>> 12db23413bc4a98c1745f99194fa71542f3ca445
</body>
</html>

